<mat-toolbar color="primary">
  <span class="title">Student Portal</span>
  <span class="spacer"></span>
  <div>
    <a mat-button [routerLink]="'/home'"> Home </a>
    <a mat-button [routerLink]="'/courses'"> Courses </a>
    <a mat-button [routerLink]="'/enrollment'"> My Enrollments </a>
    <a mat-button [routerLink]="'/profile'"> Student Profile </a>
    <a mat-button [routerLink]="'/graduation'"> Graduation </a>
    <a mat-button [routerLink]="'/login'"> Sign Out </a>
  </div>

</mat-toolbar>
